*{
    margin: 0;
}

body{
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.925rem;
    color: #66BFBF;
    padding: 50px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
    margin: 20px 0;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #66BFBF;
    margin-bottom: 20px;   
}

hr{
    width: 6%;
    border: dotted #66BFBF 6px;
    border-bottom: none;
    margin: 50px auto;
}

p{
    line-height: 2;
}

.top-container{
    width: 100%;
    background-color: #E4F9F5;
}

.banker{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    top: 150px;
    right: 250px;
}

.bottom-cloud{
    position: absolute;
    top: 350px;
    left: 250px;
}

.middle-container{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,249,245,1) 100%);
    padding-top: 100px;
    margin-bottom: 50px;
}

.profile-picture{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-bottom: 40px    ;
}

.profile p{
    width: 30%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.skills{
    width: 50%;
    text-align: left;
    margin: 50px auto;
}

.skills img{
    width: 25%;
}

.computer-image{
    float: left;
    margin-right: 20px;
}

.walking-image{
    float: right;
    margin-left: 20px;
}

.clearfix{
    clear: both;
}

.contact p{
    width: 40%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.btn{
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%);
    padding: 10px 20px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 25;
}

.btn:hover{
    background: linear-gradient(90deg, rgba(170,197,228,1) 0%, rgba(127,127,221,1) 100%);
}

.bottom-container{
    padding: 50px;
    background-color: #66BFBF;
}

.bottom-container a{
    text-decoration: none;
    color: #11999E;
    margin: 30px;
    font-size: 20px;
}

.bottom-container p{
    color: white;
    font-size: 0.75rem;
    margin-top: 30px;
}
